In [1]:
import pandas as pd

In [53]:
#Задание 1
data=pd.read_csv('keywords.csv')
geo_data = {
 
    'Центр': ['москва', 'тула', 'ярославль'],
 
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
 
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
 
}
def region_name(row):
    for key,value in geo_data.items():
        for i in range(len(value)):
            if value[i] in row['keyword']:
                return key
    return 'undefined'

In [60]:
data['region']=data.apply(region_name,axis=1)
data.region.value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

In [2]:

data=pd.read_csv('ratings_small.csv')

In [3]:
#Задание 2
def rat_cl(row):
    if row['rating']<=2:
        return 'level_low'
    if row['rating']>2 and row['rating']<=4:
        return 'level_avg'
    if row['rating']==4.5 or row['rating']==5:
        return 'level_high'

In [4]:
data['class']=data.apply(rat_cl,axis=1)
data['class'].value_counts()

level_avg     679054
level_high    232410
level_low     137111
Name: class, dtype: int64

In [56]:
#Задание 3
ratings_count = data.groupby('userId').count().reset_index()[['userId', 'movieId']]

In [36]:
film_fans_ratings_count = ratings_count[ ratings_count['movieId'] >= 100 ]

In [40]:
joined = data.merge(film_fans_ratings_count, on='userId')

In [55]:
aaa=joined.groupby('userId').agg(['min', 'max'])['timestamp']
aaa['ggg']=aaa['max']-aaa['min']
#Если поле timestamp в секундах.....считаем кол-во дней
ttt=aaa['ggg'].sum()/aaa['ggg'].count()/60/60/24
ttt

482.5656950229386

In [57]:
data.head()

   userId  movieId  rating   timestamp      class
0       1        2     3.5  1112486027  level_avg
1       1       29     3.5  1112484676  level_avg
2       1       32     3.5  1112484819  level_avg
3       1       47     3.5  1112484727  level_avg
4       1       50     3.5  1112484580  level_avg

In [58]:
m_data=pd.read_csv('movies.csv')

In [59]:
m_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [60]:
join=data.merge(m_data, on='movieId')

In [61]:
join

,userId,movieId,rating,timestamp,class,title,genres
0,1,2,3.5,1112486027,level_avg,Jumanji (1995),Adventure|Children|Fantasy
1,5,2,3.0,851527569,level_avg,Jumanji (1995),Adventure|Children|Fantasy
2,13,2,3.0,849082742,level_avg,Jumanji (1995),Adventure|Children|Fantasy
3,29,2,3.0,835562174,level_avg,Jumanji (1995),Adventure|Children|Fantasy
4,34,2,3.0,846509384,level_avg,Jumanji (1995),Adventure|Children|Fantasy
5,54,2,3.0,974918176,level_avg,Jumanji (1995),Adventure|Children|Fantasy
6,88,2,1.0,1098277938,level_low,Jumanji (1995),Adventure|Children|Fantasy
7,91,2,3.5,1112061358,level_avg,Jumanji (1995),Adventure|Children|Fantasy
8,116,2,2.0,1132728068,level_low,Jumanji (1995),Adventure|Children|Fantasy
9,119,2,4.0,845110667,level_avg,Jumanji (1995),Adventure|Children|Fantasy
10,120,2,1.0,838153425,level_low,Jumanji (1995),Adventure|Children|Fantasy
11,124,2,2.0,1134476330,level_low,Jumanji (1995),Adventure|Children|Fantasy
12,127,2,3.0,847127455,level_avg,Jumanji (1995),Adventure|Children|Fantasy
13,128,2,3.0,900720958,level_avg,Jumanji (1995),Adventure|Children|Fantasy
14,129,2,3.0,1283448701,level_avg,Jumanji (1995),Adventure|Children|Fantasy
15,131,2,1.0,1238326861,level_low,Jumanji (1995),Adventure|Children|Fantasy
16,132,2,3.0,1114172997,level_avg,Jumanji (1995),Adventure|Children|Fantasy
17,137,2,3.0,992797771,level_avg,Jumanji (1995),Adventure|Children|Fantasy
18,142,2,4.0,833458658,level_avg,Jumanji (1995),Adventure|Children|Fantasy
19,152,2,3.0,1161215251,level_avg,Jumanji (1995),Adventure|Children|Fantasy
20,156,2,5.0,1040937649,level_high,Jumanji (1995),Adventure|Children|Fantasy
21,158,2,3.0,842734429,level_avg,Jumanji (1995),Adventure|Children|Fantasy
22,164,2,3.0,845248397,level_avg,Jumanji (1995),Adventure|Children|Fantasy
23,165,2,3.0,835483502,level_avg,Jumanji (1995),Adventure|Children|Fantasy
24,170,2,3.0,940253294,level_avg,Jumanji (1995),Adventure|Children|Fantasy
25,184,2,3.0,840016743,level_avg,Jumanji (1995),Adventure|Children|Fantasy
26,220,2,3.0,1056172947,level_avg,Jumanji (1995),Adventure|Children|Fantasy
27,232,2,3.5,1162148886,level_avg,Jumanji (1995),Adventure|Children|Fantasy
28,235,2,3.0,939225131,level_avg,Jumanji (1995),Adventure|Children|Fantasy
29,238,2,3.0,1111509612,level_avg,Jumanji (1995),Adventure|Children|Fantasy
...,...,...,...,...,...,...,...
1025307,6148,126548,0.5,1424474880,level_low,The DUFF (2015),Comedy
1025308,6233,113252,1.5,1426450857,level_low,Housebound (2014),Comedy|Horror|Thriller
1025309,6312,1652,1.0,878991290,level_low,Year of the Horse (1997),Documentary
1025310,6373,8583,3.0,1134522123,level_avg,"Clock, The (1945)",Adventure|Drama|Romance
1025311,6424,5778,3.0,1056486062,level_avg,Pieces (Mil gritos tiene la noche) (One Thousa...,Horror|Mystery|Thriller
1025312,6636,5778,3.0,1034087179,level_avg,Pieces (Mil gritos tiene la noche) (One Thousa...,Horror|Mystery|Thriller
1025313,6424,6602,5.0,1102974578,level_high,Brain Damage (1988),Comedy|Horror
1025314,6429,6602,2.5,1417968550,level_avg,Brain Damage (1988),Comedy|Horror
1025315,6429,106022,4.5,1417896142,level_high,Toy Story of Terror (2013),Animation|Children|Comedy
1025316,6429,107057,0.5,1417895819,level_low,Dead Set (2008),Comedy|Drama|Horror
1025317,7066,107057,3.0,1417484919,level_avg,Dead Set (2008),Comedy|Drama|Horror
1025318,6429,113565,4.5,1417896413,level_high,"Sacrament, The (2013)",Horror|Thriller
1025319,6429,114707,4.5,1417896451,level_high,Horns (2014),Horror|Mystery
1025320,6429,118260,3.5,1417901649,level_avg,The Borderlands (2013),Horror|Mystery
1025321,6429,118334,1.0,1417949510,level_low,Omen IV: The Awakening (1991),Horror|Mystery|Thriller
1025322,6632,127098,2.5,1424374554,level_avg,Louis C.K.: Live at The Comedy Store (2015),Comedy
1025323,6961,127098,4.0,1422825984,level_avg,Louis C.K.: Live at The Comedy Store (2015),Comedy
1025324,6636,8126,3.5,1134494103,level_avg,Shock Corridor (1963),Drama
1025325,6636,36553,3.0,1130425685,level_avg,In Old Chicago (1937),Action|Drama|Musical|War
1025326,6721,100450,4.5,1378242315,level_high,Battlestar Galactica: Blood & Chrome (2012),Sci-Fi
1025327,6738,100226,4.5,1362183053,level_high,Why Stop Now (2012),Comedy|Drama
1025328,6874,69974,4.5,1321744351,level_high,Shiver (Eskalofrío) (2008),Horror|Thriller
1025329,6874,80844,2.0,1321712018,level_low,Lake Mungo (2008),Drama|Mystery|Thriller
1025330,6889,68901,3.5,1266500559,level_avg,Chop Shop (2007),Drama
1025331,6889,69280,1.5,1257765898,level_low,"Clique, The (2008)",Comedy
1025332,6968,4755,5.0,998327521,level_high,Wish Upon a Star (1996),Comedy
1025333,6976,52831,3.5,1232004546,level_avg,Maniac Cop (1988),Action|Crime|Horror|Thriller
1025334,7016,106236,3.0,1407906927,level_avg,Somm (2012),Documentary
1025335,7020,44073,3.5,1178292611,level_avg,Stromboli (1950),Drama
1025336,7036,27724,3.5,1276591942,level_avg,Hitler: The Rise of Evil (2003),Drama

In [69]:
a=[]
for i in range(2010-1950+1):
    a.append(i+1950)

In [82]:
def production_year(row):
    for i in range(len(a)):
        if str(a[i]) in row['title']:
            return a[i]
    return 1900

In [ ]:
join['year']=join.apply(production_year,axis=1)
join.year.value_counts()