In [14]:
#Задание 1
import numpy as np
def gtt(n):
    a=[]
    for i in range(n):
        a.append(n-i-1)
    return np.array(a)
gtt(10)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [55]:
#Задание 2
import numpy as np
def gtt(n):
    #создаем единичную диагональную матрицу
    a=np.identity(n)
    i=0
    #расставляем числа по диагонали
    for i in range(n+1):
        a[i-1][i-1]=n-i
    return a.sum()
gtt(5)

10.0

In [1]:
import pandas as pd

In [2]:

data = pd.read_csv('ratings.csv')

In [3]:

data.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580